.queue, .progress, .done {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  align-content: flex-start;
  width: 33%;
  height: 100%;
}

.column-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
}