.Kanban {
  font-family: 'Lato', sans-serif;
}

.Kanban-header {
  text-align: left;
  background-color: #222;
  padding: 20px;
  color: white;
}

.Kanban-title {
  font-size: 18px;
}

.Kanban-body {
  display: flex;
}

.queue, .progress, .done {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  align-content: flex-start;
  width: 33%;
  height: 750px;
}

.queue {
  border-right: solid 1px #222;
}

.queue-header {
  margin: 10px;
}

.done {
  border-left: solid 1px #222;
}

.cards {
 width: 90%;
 height: 150px;
 border: solid 1px orangered;
 padding: 5px;
 margin-bottom: 5px;
}
