.Kanban {
  font-family: 'Lato', sans-serif;
}

.Kanban-header {
  text-align: left;
  background-color: #222;
  padding: 20px;
  color: white;
}

.Kanban-title {
  font-size: 18px;
}

.Kanban-body {
  display: flex;
}

.queque, .progress, .done {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
  border: solid 1px #222;
  width: 33%;
  height: 100%;
}
