.Kanban {
  font-family: 'Lato', sans-serif;
}

.Kanban-header {
  text-align: left;
  background-color: #222;
  padding: 20px;
  color: white;
}

.Kanban-title {
  font-size: 18px;
}

.Kanban-body {
  display: flex;
}
